@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.Board {
   border: 1px solid red;
   display: grid;
   grid-template-rows: repeat(3, 100px);
   grid-template-columns: repeat(3, 100px);
   gap: 5px;
   background-color: #111;
   padding: 5px;
}

.cell {
   border-radius: 40%;
   font-size: 60px;
   /*font-family: 'Indie Flower', cursive, Tahoma, sans-serif;*/
   text-align: center;
   vertical-align: middle;
   line-height: 150%;
   background-color: #222;
   cursor: pointer;
}

.cell:hover {
   opacity: .4;
}

.cell.used, .cell.winner:hover {
   opacity: 1;
}

.round-cell {
   background-color: #e8e8e8;
   color: #111
}

.cross-cell {
   background-color: #111;
   border: 3px solid #e8e8e8;
   color: #e8e8e8
}