.Board {
   display: grid;
   grid-template-rows: repeat(3, 145px);
   grid-template-columns: repeat(3, 145px);
   gap: 10px;
   background-color: #111;
   padding: 10px;
   justify-content: center;
}

.cell {
   border-radius: 40%;
   font-size: 85px;
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;
   vertical-align: middle;
   line-height: 165%;
   border: 3px solid #222;
   cursor: pointer;
}

.dim {
   opacity: 0.3;
}

.o-cell {
   background-color: #e8e8e8;
   color: #111;
}

.x-cell {
   background-color: #111;
   border: 3px solid #e8e8e8;
   color: #e8e8e8;
}

/* TODO: Find better name for animation */

.animate-1 {
   animation-name: animate-1;
   animation-timing-function: linear;
   animation-iteration-count: 2;
   animation-duration: .3s;
}

@keyframes animate-1 {
   0%   { transform: scale(1,1) translateY(0); }
   50%  { transform: scale(.85,.85) translateY(0); }
   100% { transform: scale(1,1) translateY(0); }
}

@media screen and (max-width: 415px) {
   .Board {
      grid-template-rows: repeat(3, 115px);
      grid-template-columns: repeat(3, 115px);
   }
   .cell {
      line-height: 130%;
   }
}

@media screen and (max-width: 376px) {
   .Board {
      grid-template-rows: repeat(3, 105px);
      grid-template-columns: repeat(3, 105px);
   }
   .cell {
      font-size: 70px;
      line-height: 135%;
   }
}

@media screen and (max-width: 360px) {
   .Board {
      grid-template-rows: repeat(3, 100px);
      grid-template-columns: repeat(3, 100px);
   }
}

@media screen and (max-width: 320px) {
   .Board {
      grid-template-rows: repeat(3, 90px);
      grid-template-columns: repeat(3, 90px);
      gap: 7px;
   }
   .cell {
      line-height: 120%;
   }
}
