.Stats {
   display: flex;
   justify-content: space-evenly;
   color: #e8e8e8;
   width: 100%;
   margin-top: 20px;
}

.score-box {
   width: 180px;
   padding: 0 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: 17px;
   text-transform: uppercase;
   cursor: pointer;
}

.score-value {
   font-size: 40px;
}

@media screen and (max-width: 415px) {
   .Stats {
      width: 95%;
   }
   .score-box {
      font-size: 13px;
   }
}

@media screen and (max-width: 320px) {
   .Stats {
      width: 90%;
      justify-content: space-between;
   }
}