.Stats {
   display: flex;
   justify-content: space-evenly;
   color: #e8e8e8;
   width: 100%;
}

.score-box {
   width: 180px;
   height: 30px;
   padding: 0 10px;
   display: flex;
   align-items: center;
   font-size: 20px;
   border: 2px solid #222;
   border-radius: 5px;
   cursor: pointer;
}

.score-box.selected {
   height: 26px;
   border: 2px solid #444;
   border-bottom: 4px solid #444;
}

.score-value {
   margin-left: auto;
}